html {
	height: 100%;
    margin: 0;
}

body {
	background-image: url('../img/BG2.jpg');
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

header {
	background-color: #41e5f4;
    border: 5px;
	border-radius: 5px;
	border-style: inset;
	border-top-color: #41e5f4;
	border-left-color: #41e5f4;
	border-right-color: #39cadd;
	border-bottom-color: #39cadd;
	vertical-align: middle;
	opacity: .8;
	width: 90%;
	height: 70px;
	margin: auto;
	box-shadow: 20px 20px 2px 0 rgba(0,0,0,0.16);
}

.navtitle {
	display: inline-block;
    padding: 20px 16px;
    vertical-align: middle;
    overflow: hidden;
    color: black;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	letter-spacing: 4px;
	font-size: 20px;
	box-sizing: inherit;
	text-decoration: none;
	text-shadow: 0 0 2px #000000, 0 0 10px #000000;
}

.navbuttoncontainer {
	float: right!important;
	padding: 8px 50px;
	font-size: 15px;
    line-height: 1.5;
	text-decoration: none;
}

.navbuttons {
	background-color: #39cadd;
	height: 80%;
	width: 10%;
    border: 3px;
	border-radius: 50%;
	border-style: outset;
	border-top: 0;
	border-left: 0;
	border-right-color: #42b3f4;
	border-bottom-color: #42b3f4;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	text-shadow: 0 0 1px #000000, 0 0 20px #000000;
	box-shadow: 10px 10px 2px 0 rgba(0,0,0,0.16);
}

.logocontainer {
    position: relative;
    text-align: center;
    color: black;
	overflow: hidden;
}

.logo {
	opacity: .8;
	height: 50%;
    width: 40%;
}

.logotitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	opacity: .8;
	height: 80%;
	width: 30%;
}

.aboutmecontainer {
	width: 90%;
    height: 650px;
	background-color: #39cadd;
    border: 5px outset blue;
	border-top-color: #41e5f4;
	border-left-color: #41e5f4;
	border-right-color: #39cadd;
	border-bottom-color: #39cadd;
	border-radius: 20px;
	margin: auto;
	opacity: .85;
}

.aboutme {
	margin: auto;
	vertical-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
	text-shadow: 0 0 1px #000000, 0 0 20px #000000;
    transform: translate(-50%, -50%);
	padding-top: 100px;
}

.aboutmeimg {
	vertical-align: top;
	filter: grayscale(80%);
	padding: 125px 32px;
	margin: auto 5px;
    float: right;
	width: calc(100% / 5);
	text-align: center;	
	
}
.aboutmeimg:hover {
	filter: grayscale(0%);
	opacity: 1;
	transition-duration: 1s;

}
.aboutmeimg p {
	padding: 15px;
    text-align: center;
}
	
a:link {
    text-decoration: none;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}


.navbuttons:hover {
	background-color: #41e5f4;
}